@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


html,
body, 
hr {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark-grey);
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover {
background: var(--four);
cursor: pointer;
}
body::-webkit-scrollbar-track {
  background-color: var(--one);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--three);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
